.template {
  width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.templateLoading {
  width: 500px;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.templateBox {
  width: 500px;
  height: 750px;
  position: relative;
  margin-bottom: 20px;

  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.thumbnail-inner {
  transition: transform 0.28s ease;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.templateDownload {
  display: none;
  font-size: 25px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 500px;
  left: -35px;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}

.templateBox:hover .thumbnail-inner,
.templateBox:focus .thumbnail-inner {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.templateBox:hover .thumbnail-inner:before,
.templateBox:focus .thumbnail-inner:before {
  display: block;
}
.templateBox:hover .templateDownload,
.templateBox:focus .templateDownload {
  display: block;
}

.thumbnail-inner:before {
  z-index: 1;
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#f6004e6c 10%, #000 100%);

  border-radius: 5px;
}

.templateBox img {
  /* width: 100%;
    height: 100%; */
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.templateBox:hover img {
  transform: scale(1) translateZ(0);
}

.templateCover {
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
}

.templateCoverTextTop {
  position: absolute;
  padding: 0 20px;
}

.templateCoverText {
  bottom: 0px;
  position: absolute;
  padding: 0 20px;
}

.templateCoverTextTop p {
  color: #fff;
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 0px;
  /* font-family: "Dancing Script"; */
}

.templateCoverText p {
  color: #fff;
  font-size: 15px;
}

/* linear-gradient(to bottom, rgba(24, 38, 45, 0) 0%,rgba(24, 38, 45, 1) 50%) */
