@font-face {
  font-family: "Dancing Script";
  src: local("Dancing Script"),
    url("./fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: local("Lora"),
    url("./fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Woodland";
  src: local("Woodland"), url("./fonts/Woodland.ttf") format("truetype");
}

@font-face {
  font-family: "Gagalin";
  src: local("Gagalin"), url("./fonts/Gagalin-Regular.otf") format("opentype");
}

@font-face {
  font-family: "BodoniFLF";
  src: local("BodoniFLF"), url("./fonts/BodoniFLF-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: local("Antonio"), url("./fonts/Antonio-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Yellowtail-Regular";
  src: local("Yellowtail-Regular"),
    url("./fonts/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url("./fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url("./fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url("./fonts/OpenSans-Bold.ttf") format("truetype");
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
